@font-face {
       font-family: roboto,sans-serif ;
       src: url("police/roboto/roboto-regular.ttf");
       font-family: shrikhand,"cursive";
       src: url("police/shrikhand/Shrikhand-Regular.otf");
}
body{
       font-family: Roboto, sans-serif;
       margin: 0;
}
header{
      display: flex;
      flex-direction: column;
      width: 100%;
}
.header{
       display: flex;
       align-items: center;
       width: 100%;
       height: 50px;
}
.flecheretourmenu{
       display: flex;
       align-items: center;
       margin-left: 5%;
}
.fa-arrow-left{
      color: grey;
}
.logo{
       position: relative;  
       width: 100%;   
}
.logoentreprise{
       display: flex;
       justify-content: center;
       margin: auto;
       object-fit: cover;
       width: 100%;
}
.photorestaurant{
       width: 100%;
        height: 25rem;
       object-fit: cover;
}
main{
       background-color: #f6f6f6;
       border-radius: 20px 20px 0 0;
       width: 100%;
       position: relative;
       margin-top: -55px;
}
h1{
       font-size: 25px;
       margin: 5%;
       font-family: shrikhand, "cursive";
       font-weight: bold;
}
.titrecoeur{
       display: flex;
       justify-content: space-between;
       align-items: center;
}
h2{
       border-bottom: 4px #99e2d0 solid;
       width: 13%;
       padding: 1%;
       margin-left: 2%;
}

.coeur{
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: transparent;
       border: 0 solid transparent;
       position: absolute;
       width: 50px;
       height: 50px;   
       margin-left: 75%;
 }
 
 .coeur .coeur1, .coeur .coeur2{
       position: absolute;
       display: flex;
       align-items: center;
       justify-content: center;
 }
 .coeur .coeur1{
       background-color: transparent;
       color: black;
 }
 
 .coeur .coeur2{
       z-index: -1;
       width: 100%;
       height: 0%;
 }
 
 .coeur:active .coeur2{               
       z-index: 1;
       background: -webkit-linear-gradient(#9356dc ,#ff79da);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;     
       transition: height 0.9s linear;
       height: 100%;
 }
 .coeur:active .coeur1{
       color: transparent;
       z-index: -1;
 }
 .coeur:hover .coeur2{
       z-index: 1;
       background: -webkit-linear-gradient(#9356dc ,#ff79da);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;     
       transition: height 0.9s linear;
       height: 100%;
       
 }
 .coeur:hover .coeur1{
       color: transparent;
       z-index: -1;
 }
.menue{
       display: flex;
       flex-direction: column;
       animation: loader .6s;
       animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
       animation-fill-mode: both;
       transform: scale(0);
}
@keyframes loader{
       0%{

              transform: scale(0);
       }
       100%{
              transform: scale(1);
       }
}
.menueplat{
       width: 95%;
       overflow: hidden;
       animation: itemappear;
} 
.plat{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       height: 100%; 
       background-color: white;
       margin: 2%;
       border-radius: 15px 15px 15px 15px;
       overflow: hidden;
}
.platprincipal{
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 95%;
       height: 100%;
       overflow: hidden;  
}
h3{
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
       font-size: 19px;
       margin-left: 5%;
}
.accompagnementprix{
       width: 100%;
       overflow: hidden;
}
.prixsauce{
       font-weight: bold;
       margin: 2% 0 0 2%;
       display: flex;
       justify-content: space-between;
       flex-direction: row;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       width: 100%;
       align-items: center;
}
.sauce{
       font-weight: normal;
       font-size: 15px;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       width: 100%;
       margin-left: 5%;
}
.prix{
       overflow: hidden;
       width: 50%;
       display: flex;
       justify-content: end;
       margin-right: 9%;
}
.fa-check-circle{
       color: #8ee2ff;
       border: 1px solid rgba(255, 255, 255, 0.952);
       background-color: white;
       border-radius: 50%;  
       margin: auto;
       display: flex;
       align-items: center;
}
.check{
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 0px 15px 15px 0px;
       color:#fff;
       background-color:  rgb(160, 228, 224);;
       overflow: hidden;
       margin: 0%;
}

.plat:active .check .fas{
       -webkit-transition: -webkit-transform .8s linear;
       -ms-transition: -ms-transform .8s linear;
       transition: transform .8s linear;  
       color: #8ee2ff;
       transform:rotate(360deg);
       -ms-transform:rotate(360deg);
       -webkit-transform:rotate(360deg);
}
.plat:active .check{
       -webkit-transition: -webkit-transform .8s linear;
       -ms-transition: -ms-transform .8s linear;
       transition: transform .8s linear;  
       transform:rotate(0deg);
       -ms-transform:rotate(0deg);
       -webkit-transform:rotate(0deg);
        transition: width 0.3s linear;
        width: 25%;
        cursor: pointer;
}
.plat:not(:active) .check{
       transition: width 0.3s linear;
       width: 0%;
}
.boutoncommander{
       opacity: 1;
       background: linear-gradient(0deg, #9356dc ,#ff79da);
      border-radius: 20px 20px 20px 20px;
      color: white;
      box-shadow: 0 6px 4px 6px rgba(0, 0, 0, 0.25) ;
      cursor: pointer;
      width: 35%;
      height: 45px;
      margin: 5% 0 5% 35%;
      border: 0;
}
.boutoncommander:hover{
       opacity: 0.75;
       background: linear-gradient(0deg, #9356dc ,#ff79da);
       box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25) ;
}
.boutoncommander:active{
       opacity: 0.75;
       background: linear-gradient(0deg, #9356dc ,#ff79da);
       box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25) ;
}
footer{
       display: flex;
       flex-direction: column;
        background-color: rgb(16, 20, 20);
       color: white;
}
.logoentreprise2{
       margin: 2% 0 0 5%;
       font-family: shrikhand, "cursive";
       background-color: transparent;
       width: 100%;
 }
 .menupieddelapage{
       margin: 2% 0 0 0 ;
 }
 .optionpieddepage{
       list-style: none;
       width: 100%;
 }
 .contact{
       list-style: none;
       margin-left: 10.5%;
       color: inherit;
       text-decoration: none;
 }
.fa-utensils{
       padding-right: 10px;
}
.fa-hands-helping{
       padding-right: 5px;
}

@media (min-width: 1024px)
{
       .menue{
              display: flex;
              flex-direction: row;
              width: 95%;
       }
       .menuentrées{
              width: 30%;
              margin: 0 3% 0 4%;
       }
       .menueplats{
              width: 30%;
              margin-right: 3%;
       }
       .menuedessert{
              width: 30%;
       } 
       .plat:hover .check .fas{
              -webkit-transition: -webkit-transform .8s linear;
              -ms-transition: -ms-transform .8s linear;
              transition: transform .8s linear;  
              color: #8ee2ff;
              transform:rotate(360deg);
              -ms-transform:rotate(360deg);
              -webkit-transform:rotate(360deg);
       }
       .plat:hover .check{
              -webkit-transition: -webkit-transform .8s linear;
              -ms-transition: -ms-transform .8s linear;
              transition: transform .8s linear;  
              transform:rotate(0deg);
              -ms-transform:rotate(0deg);
              -webkit-transform:rotate(0deg);
               transition: width 0.3s linear;
               width: 25%;
               cursor: pointer;
       }
       .plat:not(:hover) .check{
              transition: width 0.3s linear;
              width: 0%;
       }
       .menupieddelapage{
              margin: 2% 0 0 3% ;
        }
        .optionpieddepage{
              list-style: none;
              width: 100%;
        }
        .contact{
              list-style: none;
              margin-left: 5.5%;
              color: inherit;
              text-decoration: none;
        }
}