@font-face {
       font-family: roboto,sans-serif ;
       src: url("police/roboto/roboto-regular.ttf");
       font-family: shrikhand,"cursive";
       src: url("police/shrikhand/Shrikhand-Regular.otf");
}
body{
       margin-left: 5%;
       margin-right: 5%;
       font-family: Roboto, sans-serif;
}
header{
      display: flex;
      width: 100%;
}
.flecheretourmenu{
       display: flex;
       align-items: center;
}
.fa-arrow-left{
      color: grey;
}
.logo{
       position: relative;  
       width: 93%;   
}
.logoentreprise{
       display: flex;
       align-items: center;
       margin: auto;
       object-fit: cover;
       width: 50%;
}
.photorestaurant{
       width: 100%;
        height: 25rem;
       object-fit: cover;
}
main{
       background-color: #f6f6f6;
       border-radius: 20% 20% 0 0;
}
.titrecoeur{
       display: flex;
       justify-content: space-between;
       align-items: center;
}
h2{
       border-bottom: 4px mediumaquamarine solid;
       width: 8%;
       padding: 1%;
       margin-left: 2%;
}
.coeur{
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: transparent;
       border: 0 solid transparent;
       position: absolute;
       width: 50px;
       height: 50px;   
       margin-left: 75%;
 }
 
 .coeur .coeur1, .coeur .coeur2{
       position: absolute;
       display: flex;
       align-items: center;
       justify-content: center;
 }
 .coeur .coeur1{
       background-color: transparent;
       color: black;
 }
 
 .coeur .coeur2{
       z-index: -1;
       width: 100%;
       height: 0%;
 }
 
 .coeur:active .coeur2{               
       z-index: 1;
       background: -webkit-linear-gradient(#9356dc ,#ff79da);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;     
       transition: height 0.9s linear;
       height: 100%;
 }
 .coeur:active .coeur1{
       color: transparent;
       z-index: -1;
 }
 .coeur:hover .coeur2{
       z-index: 1;
       background: -webkit-linear-gradient(#9356dc ,#ff79da);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;     
       transition: height 0.9s linear;
       height: 100%;
       
 }
 .coeur:hover .coeur1{
       color: transparent;
       z-index: -1;
 }
.menue{
       display: flex;
       flex-direction: column;
}
.plat{
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 2%;
        border: 2px inherit;
        width: 95%;
        border-radius: 9% 9% 9% 9%;
}
.platprincipale{
      font-weight: bold;
      margin: 2% 0 0 2%;
      font-size: 19px;
}
.sauceplatprix{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 5% 0 2%;
}
.prix{
      font-weight: bold;
}
.boutoncommander{
       background: linear-gradient(0deg, #9356dc ,#ff79da);
      border-radius: 20px 20px 20px 20px;
      color: white;
      box-shadow: 0 6px 4px 6px rgba(0, 0, 0, 0.25) ;
      cursor: pointer;
      width: 35%;
      height: 45px;
      margin: 5% 0 5% 35%;
}
footer{
       display: flex;
       flex-direction: column;
        background-color: rgb(16, 20, 20);
       color: white;
}
 .logoentreprise2{
       margin: 2% 0 0 5%;
       font-family: shrikhand, "cursive";
  }
 .optionpieddepage{
       list-style: none;
       margin: 0 5%  5px 0;
 }
.contact{
       list-style: none;
       margin: 0 5% 0 0;
       color: inherit;
       text-decoration: none;
}
.fa-utensils{
       padding-right: 10px;
}
.fa-hands-helping{
       padding-right: 5px;
}

@media (min-width: 1024px)
{
       .menue{
              display: flex;
              flex-direction: row;
              width: 95%;
       }
       .menuentrées{
              width: 30%;
              margin: 0 3% 0 4%;
       }
       .menueplats{
              width: 30%;
              margin-right: 3%;
       }
       .menuedessert{
              width: 30%;
       }
}